@tailwind base;
@tailwind components;
@tailwind utilities;

/* font header */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

/* header */
.box-header {
  height: 100%;
  padding-top: 100px;
  padding-bottom: 200px;
  background: radial-gradient(
      circle at 20% -10%,
      rgba(174, 65, 80, 1) 10%,
      rgba(45, 48, 52, 1) 30%,
      transparent
    ),
    radial-gradient(
      circle at 80% 40%,
      rgba(127, 9, 157, 1) -5%,
      rgba(45, 48, 52, 1) 30%
    );
}

.text-header_1,
.text-header_2 {
  display: flex;
  justify-content: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 128px;
  line-height: 120%;
  font-size: 100px;
}
.text-header_1 {
  color: #f4f4f9;
}
.text-header_2 {
  background: linear-gradient(to bottom, #f4f4f9 40%, #dc61e2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box-black-spacing {
  height: 60px;
  background-color: rgba(45, 48, 52, 1);
  transform: skewY(-2deg);
  margin-top: -30px;
}

/* main */
.box-main {
  margin-top: -20px;
  background: radial-gradient(
      circle at 80% 0%,
      rgba(174, 65, 80, 1) -10%,
      rgba(255, 255, 255, 1) 10%,
      transparent
    ),
    radial-gradient(
      circle at 10% 25%,
      rgba(127, 9, 157, 1) 0%,
      rgba(255, 255, 255, 1) 10%,
      transparent
    ),
    radial-gradient(
      circle at 100% 60%,
      rgba(127, 9, 157, 1) 0%,
      rgba(255, 255, 255, 1) 15%,
      transparent
    ),
    radial-gradient(
      circle at 35% 100%,
      rgba(127, 9, 157, 1) 0%,
      rgba(255, 255, 255, 1) 12%,
      transparent
    );
}

.img-about-bank {
  border-radius: 50%;
  margin-left: -100px;
  width: 635px;
}

.content-header1,
.content-header2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 86px;
  line-height: 120%;
}
.content-header1 {
  color: #8208a0;
}
.content-header2 {
  background: linear-gradient(to bottom, #8208a0 45%, #c94556 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-why-sagara-bank_right-content_trophy {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box-why-sagara-bank_right-content_trophy div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.box-why-sagara-bank_right-content_trophy div p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
  color: #902245;
  text-align: center;
}

.costume-line {
  border: 1px solid #902245;
  border-radius: 5px;
  width: 100%;
}

/* main bottom */
.box-number,
.box-years div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.box-number div span, .box-number div p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 120%;
  color: #650589;
}
.box-number div p {
  font-size: 24px;
  text-align: center;
}
.text-years1,
.text-years2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  margin-top: 10px;
}
.text-years1 {
  font-size: 20px;
}
.text-years2 {
  font-size: 16px;
  color: #ac324d;
}